<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.portfolio.mapper.PortfolioMapper">

	<select id="PortfolioList" resultType="PortfolioVO">
		select * from portfolio
		limit #{ pageStart}, #{ perPageNum }
	</select>
	
	<select id="PortfolioListCount" resultType="int">
		select count(*) from portfolio
	</select>
	
	<insert id="PortfolioRegister">
		INSERT INTO portfolio
			(nickName, category, title, simpleContent, content, image)
		VALUES 
			(#{ nickName }, #{ category }, #{ title }, #{ simpleContent }, #{ content }, #{ image })
	</insert>
	
</mapper>