<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.portfolio.mapper.SkillsMapper">

	<select id="SkillsSubCategoryListAll" resultType="SkillsVO">
		SELECT nickName, category, subCategory FROM skills where nickName = #{ nickName } and category = #{ category } group by subCategory
	</select>
	
	<select id="SkillsList" resultType="SkillsVO">
		SELECT * FROM skills where nickName = #{ nickName } and category = #{ category }
		<include refid="sub"/>
	</select>
	
	<select id="SkillsListCount" resultType="int">
		SELECT count(*) FROM skills where nickName = #{ nickName } and category = #{ category }
		<include refid="sub"/>
	</select>
	
	<select id="SkillsListGroup" resultType="SkillsVO">
		select * from skills
		where 
			skNumber >= 0
		<if test="category != null">
			<if test="category != ''.toString()">
				and category = #{ category }
			</if>
		</if>
		<if test="search != null">
			<if test="search != ''.toString()">
				and 
					(
						nickName like concat('%', #{ search }, '%') or
						category like concat('%', #{ search }, '%') or
						subCategory like concat('%', #{ search }, '%') or
						title like concat('%', #{ search }, '%') or
						content like concat('%', #{ search }, '%')
					)
			</if>
		</if>
		group by nickName, category 
		order by regDate desc
		limit #{ pageStart}, #{ perPageNum }
	</select>
	
	<select id="SkillsListGroupCount" resultType="int">
		select count(c.subCategory) as cnt from (
			select * from skills 
			where 
				skNumber >= 0
			<if test="category != null">
				<if test="category != ''.toString()">
					and category = #{ category }
				</if>
			</if>
			<if test="search != null">
				<if test="search != ''.toString()">
					and 
						(
							nickName like concat('%', #{ search }, '%') or
							category like concat('%', #{ search }, '%') or
							subCategory like concat('%', #{ search }, '%') or
							title like concat('%', #{ search }, '%') or
							content like concat('%', #{ search }, '%')
						)
				</if>
			</if>
			group by nickName, category
		) as c
	</select>
	
	<select id="SkillsSubCategoryList" resultType="SkillsVO">
		select * from skills 
		where
			nickName = #{ nickName } and category = #{ category }
		group by subCategory
		limit 8
	</select>
	
	<select id="SkillsView" resultType="SkillsVO">
		select * from skills where skNumber = #{ skNumber }
	</select>
	
	<insert id="SkillsRegister">
		INSERT INTO skills
			(nickName, category, subCategory, title, content)
		VALUES 
			(#{ nickName }, #{ category }, #{ subCategory }, #{ title }, #{ content })
	</insert>
	
	<update id="SkillsModify">
		UPDATE skills
		SET
			category=#{ category },
			subCategory=#{ subCategory },
			title=#{ title },
			content=#{ content },
			regDate=NOW()
		WHERE 
			skNumber=#{ skNumber }
	</update>
	
	<delete id="SkillsDelete">
		DELETE FROM skills WHERE skNumber=#{ skNumber }
	</delete>
	
	<update id="SkillsViewCountUpdate">
		UPDATE skills
		SET
			viewCount=viewCount+1
		WHERE 
			skNumber=#{skNumber}
	</update>
	
	<select id="SkillsListGroupNew" resultType="SkillsVO">
		select * from skills 
		group by nickName, category 
		order by regDate desc
		limit 6
	</select>
	
	<sql id="sub">
		<if test="subCategory != null">
			<if test="subCategory != ''.toString()">
				and subCategory = #{ subCategory }
			</if>
		</if>
	</sql>
	
</mapper>